.navbar {
    display: flex;
    flex-direction: column;
}
.navleft {
    width: 100%;
    background-color: rgba(206, 238, 206, 0.568);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navright {
    width: 100%;
    background-color: rgba(206, 238, 206, 0.568);
    text-align: center;
}
.backgraund {
    margin: 50px auto;
}
#search {
    
    border-radius: 30px;
}
#btnsearch {
    border-radius: 30px;
}
.paragraph {
    width: 90%;
}


/* service style  */
.ima img {
    height: 120px;
}
