* {
    margin: 0;
    padding: 0;
}

/*        Style of the Navigation part */

/* navlert part */
.navbar {
    display: flex;
    height: 50px;
    /* background-color: rgb(216, 250, 136); */
}
.navleft {
    width: 50%;
    /* background-color: green; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.headname {
    font-size: xx-large;
}
.navlist {
    display: flex;
    list-style: none;
}
.navlist li {
    /* text-decoration: none; */
}
.navlist li a {
    text-decoration: none;
    margin: auto 20px;
    padding: auto 3px;
    font-size: 25px;
}

/* navright part  */
.navright {
    width: 50%;
    /* background-color: yellow; */
}
#btnsearch {
    float: right;
    height: 35px;
    width: 100px;
    border: 1px solid black;
    border-radius: 0px 30px 30px 0px;
    margin-top: 5px;
    margin-right: 10px;
    font-size: 20px;
    color: #9af041;
    background-color: white;
}
#btnsearch:hover {
    background: #9af041;
    color: white;
    transition: all ease-in 0.4s;
}
#search {
    float: right;
    height: 35px;
    width: 300px;
    border: 1px solid black;
    border-radius: 30px 0px 0px 30px;
    margin-top: 5px;
    outline: none;
    padding: 8px;
}


/*                 Body main content's style is here  */

.logoimg img {
    height: 150px;
}
.maincontent {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 20px auto;
    flex-direction: row-reverse;
}
.textparagraph {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 75%;
    margin: auto;
}
.big-text {
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logoimg img {
    height: 160px;
    border-radius: 100px;
    width: 160px;
    border: 3px round black;
    border: 5px solid black;
}
.backgraund {
    /* background: url('../img/pho.svg') no-repeat center; */
    /* background: url('../img/pho.svg') no-repeat center center/cover; */
    background-color: #e5e1e8;
}

#nextcontent {
    width: 80%;
    margin: 10px auto;
    background-color: rgba(206, 238, 206, 0.568);
    height: auto;
    padding-top: 30px;
}
.commoncont {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    /* position: absolute; */

}

.imga img{
    height: 150px;
    margin: auto 20px;
}
.paragraph {
    width: 60%;
    margin: auto;
}

/*                     Footer part of the webpage  */
footer {
    background-color: rgba(158, 73, 73, 0.719);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot {
    text-align: center;
}

